## .NET
bin/
obj/
publish/

## IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sln.iml

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

## User files
*.rsuser
*.userprefs

## App-specific
settings.json
.env
